<h1>Click box for time of day</h1>

<div class="row">
  <div class="col-md-1"> </div>
  <div class="box col-md-3" id="morning" onclick="daylight('x')">morning</div>
  <div class="col-md-1"> </div>
  <div class="box col-md-3" id="afternoon" onclick="daylight('y')">afternoon</div>
  <div class="col-md-1"> </div>
  <div class="box col-md-3" id="evening" onclick="daylight('z')">evening</div>
  <div class="box col-md-3" id="text"></div>
</div>

