<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="count('x')"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="count('y')"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="count('z')"> </div>
  </div>
  
</div>
