<h1>Tic-Tac-Toe</h1>

<div class="box col-md-12" id="turn"><p>first</p></div>


<div class="row">
  <div class="box col-md-3 tic" id="top-left"  onclick="ticTacToe('top-left')">1</div>
  <div class="box col-md-3 tic" id="top-mid" onclick="ticTacToe('top-mid')">2</div>
  <div class="box col-md-3 tic" id="top-right" onclick="ticTacToe('top-right')">3</div>
</div>
<div class="row">
  <div class="box col-md-3 tic" id="mid-left" onclick="ticTacToe('mid-left')">4</div>
  <div class="box col-md-3 tic" id="mid-mid" onclick="ticTacToe('mid-mid')">5</div>
  <div class="box col-md-3 tic" id="mid-right" onclick="ticTacToe('mid-right')">6</div>
</div>
<div class="row">
  <div class="box col-md-3 tic" id="bot-left" onclick="ticTacToe('bot-left')">7</div>
  <div class="box col-md-3 tic" id="bot-mid" onclick="ticTacToe('bot-mid')">8</div>
  <div class="box col-md-3 tic" id="bot-right" onclick="ticTacToe('bot-right')">9</div>
</div>